nav{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 90px;
    background-color: var(--bg-default);
    box-shadow: 0px 1px 0px 1px var(--bg-dark);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}
nav a{
    text-decoration: none;
    color: var(--fg-darkest);
}
.title{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    line-height: 60px;
    margin-left: 10px;
}
.title-text{
    color: var(--fg-darkest);
    margin-left: 20px;
    letter-spacing: 4px;
    font-weight: 400;
    font-size: 1.4rem;
}
.burger{
    user-select: none;
    font-size: 35px;
    border-radius: 10px;
    cursor: pointer;
    transition: ease-in-out 0.2s;
    display: none;
}
.burger:hover{
    background-color: var(--bg-dark);
}

.todo-related{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 30px;
}

.search-box{
    width: 350px;
    height: 40px;
    position: relative;
    /* margin-right: 30px; */
}

.search-box input{
    position: absolute;
    width: 80%;
    height: 100%;
    background-color: var(--bg-lite);
    font-size: 1.4rem;
    padding: 5px 16px;    
    border: none;
    border-radius: 100px;
    font-weight: 400;
    transition: width ease-in-out 0.2s;
    top: 0;
    right: 0;
}

.search-box input:focus{
    width: 100%;
}


@media only screen and (max-width: 1000px) {
    .burger{
        display: inline-block;
    }
}