<div class="item">

    <span 
    [ngClass]="setClass()" 
    (click)="updateStatus('Finished')" 
    class="material-icons">
            check_box
    </span>

    <div class="title" contenteditable="true" (blur)="updateTitle($event)" spellcheck="false">
        {{ todo.title }} 
    </div>
    
    
    <app-status-selector 
    [selectedStatus]="todo.status" 
    (newStatus) = "updateStatus($event)"
    class="status" >
    </app-status-selector>


    <span (click)="onDelete()" class="material-icons delete">
        delete
    </span>
</div>