.content{
    margin-top: 0px;
    padding-top: 90px;
}
.hero{
    background-image: url('../../assets/hero.jpeg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    height: 90vh;
}
.text-section{
    width: 50%;
    margin-right: auto;
    text-align: left;
    padding-top: 300px;
    padding-right: 60px;
}
.text-section h1{
    font-size: 3rem;
    font-weight: 500;
    padding: 30px 30px 15px 30px;
}
.text-section p{
    padding: 15px 30px 15px 30px;
    max-width: 650px;
    font-weight: 300;
}
.actions{
    padding: 15px 30px 15px 30px; 
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 400px;
}
.custom-btn{
    cursor: pointer;
    text-decoration: none;
    width: 160px;
    padding: 10px 15px 10px 15px;
    font-size: 1.1rem;
    font-weight: 500;
    text-align: center;
    border-radius: 6px;
    transition: ease-in-out 0.3s;
}
.custom-btn:active{
    transform: scale(0.8);
}
#try-now-btn{
    background-color: var(--blue);
    border: 1px solid var(--blue);
    color: var(--bg-default);
}
#learn-more-btn{
    margin: auto;
    color: var(--fg-dark);
    background-color: var(--bg-default);
    border: 2px solid var(--blue);
}
#learn-more-btn:hover{
    background-color: var(--bg-lite);
}


/* learn more section */
#learn-more{
    min-height: 100vh;
    width: 100%;
    background-image: url('../../assets/wave.svg');
    background-size: cover;
}
h3{
    font-size: 1.9rem;
    font-weight: 400;
}
.ui-section{
    position: relative;
    /* height: 100vh; */
    overflow: hidden;
}
.ui-section h3{
    text-align: center;
    padding: 30px;
}
.ui-section img{
    z-index: 1;
    cursor: pointer;
    display: block;
    width: 70%;
    margin: auto;
    margin-bottom: 100px;
    box-shadow: 0px 0px 36px 16px rgba(129, 129, 129, 0.586);
    transition: ease-in-out 0.3s;
}
/* .ui-section img:hover{
    transform: scale(1.04);
}
.top , .bottom{
    position: absolute;
    width: 100%;
    height: 10%;
    background-color: var(--yellow);
    z-index: 0;   
    transition: ease-in-out 0.5s;
}
.top{
    top: 50%;
    right: 50%;
    transform: rotate(-45deg) translate(-100% , 0%);
}
.bottom{
    top: 50%;
    left: 50%;
    transform: rotate(-45deg) translate(100% , 0%);
}
.ui-section img:hover + .top{
    transform: rotate(-45deg) translate(0% , 0%);
}
.ui-section img:hover ~ .bottom{
    transform: rotate(-45deg) translate(0% , 0%);
} */

/* reasons to use */
.reasons-section{
    padding: 100px;
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.reasons-section h3{
    text-align: left;
    font-weight: 500;
    padding-left: 30px;
}
.reason{
    list-style: none;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 50px;
    padding-left: 30px;
}
.reason-left{
    position: relative;
}
.reason-right{
    margin: auto;
}
.reason-right .custom-btn{
    width: 400px;
    color: var(--fg-dark);
    background-color: var(--bg-default);
    border: 2px solid var(--blue);
    padding: 20px;
    border-radius: 8px;
    transition: ease-in-out 0.3s;
}
.reason-right .custom-btn:hover{
    background-color: var(--bg-lite);
}

.reason-box{
    z-index: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: var(--green);
    width: 20px;
    height: 100%;
}