<div class="content">
    <div class="hero">
        <div class="text-section">
            <h1>Keep your mind free..</h1>
            <p>Use Todo to free yourself form remembering all tasks,
                and get things done. Todo is very simple, stright forward and, easy to 
                use todo app.
            </p>
        </div>
    
        <div class="actions">
            <a href = "#" class = "custom-btn" id="try-now-btn">Try now</a>
            <a href = "#learn-more" class = "custom-btn" id="learn-more-btn">Learn more</a>
        </div>
    </div>

    <div id="learn-more">
        
        <div class="ui-section">
            <h3>Easy to use interface</h3>
            <img src="../../assets/ui.png" alt="">
            <div class="top"></div>
            <div class="bottom"></div>
        </div>
    </div>
    

    
</div>
