.text-section{
    /* background-color: pink; */
    width: 50%;
    margin-right: auto;
    margin-left: 50px;
    text-align: left;
}
.text-section h1{
    font-size: 3rem;
    font-weight: 500;
    padding: 30px 30px 15px 30px;
}

.text-section p{
    padding: 15px 30px 15px 30px;
    max-width: 650px;
    font-weight: 300;
}