/* animations */
@keyframes slidein-rtl{
    from{
        transform: translate(100% , 0%);
    }
    to{
        transform: translate(0% , 0%);
    }
}
@keyframes slideout-lte{
    from{
        transform: translate(0% , 0%);
    }
    to{
        transform: translate(100% , 0%);
    }
}

*{
    margin: 0px;
    padding: 0px;
}
.hidden{
    display: none;
}
:root{
    /* nord color scheme
    https://www.nordtheme.com/
    */
    --bg-default: white;
    --bg-lite: #eceff4;
    --bg-mid: #e5e9f0;
    --bg-dark: #d8dee9;

    --fg-darkest: #2e3440;
    --fg-dark: #3b4252;
    --fg-mid: #434c5e;
    --fg-lite: #4c566a;

    --red: #bf616a;
    --green: #a3be8c;
}
body{
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    background-color: var(--bg-default);
}